/*
Created by Deadman22 30 October 2022
Modified and Edited by HeroEyad_
Removed alot unwanted shit from root
*/
@font-face {
   font-family: "Patrick Hand", cursive;
   src: url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
}
:root{
    --DefaultTextFontFamily: "Patrick Hand", cursive;   
    --DefaultTextColor: #e2e2e2;
}
   body {
      background-color: transparent; 
      background-image: url('https://raw.githubusercontent.com/HeroEyad/heroeyad.github.io/refs/heads/main/background/eydooremake.webp');
      background-size: cover; 
      background-position: center center;
      background-attachment: fixed; 
  }


#CoreStatsModule .Card {
   border-radius: 10px;
}
  #MainContent{
   background-color: #1a1a1a;
}

#ContentGrid {
   background: #1a1a1a;
   border-radius: 10px;
}

#DonatePoints {
   display:block !important;
}

.Avatar.HasClearanceLevel {
   border-radius: 50%;
}

.Avatar.Online:after, .MemberLink.Online:after {
   border-radius: 50%;
}

.Avatar img {
    content: url()
}

.MemberLink indicator.Online {
   border-radius: 50%;
}


#SubNavigator {
   display: flex !important;
   justify-content: center !important;
 }

#SubNavigator div {
   display: none !important;
}

#ContentGrid div {
   border-radius: 10px;
}

.HasHdHovatar .HovatarImage, .HasHdHovatar:hover .AvatarImage, .HasHovatar .HovatarImage, .HasHovatar:hover .AvatarImage {
   border-radius: 50%;
}

/*This contoles the looks of your modules such as identity, messages, online status, etc.*/
.PageModule>.Content {
   background: #1d1d1d;
   border: 1px solid #6CB1E1;
   border-radius: 10px;
}

 /*general control for the look of headers*/
b, h2, h3 {
   background: #1d1d1d !important;
   text-align: center !important;
   border-bottom: 1px solid #6CB1E1 !important;
   border-top: 1px solid #6CB1E1 !important;
}
#HeadlineWrapper overlay h1 {
   display: block;
   font-size: 0px;
   background-image: url("https://raw.githubusercontent.com/HeroEyad/heroeyad.github.io/refs/heads/main/background/herona.webp");
   background-repeat: no-repeat;
   filter: drop-shadow(21px 15px 10px black);
   background-position: center;
   background-size: contain; /* Ensures the image scales within the max-width and max-height */
   max-width: 1280px;  /* Limits the width */
   max-height: 720px;  /* Limits the height */
   margin: 0;
   padding-bottom: 100px;
   word-break: break-word;
   box-sizing: content-box;
}

#SoftwareKit {
   display: none !important;
}

#Communities {
   display: none !important;
}

#GamingDevices {
   display: none !important;
}

#PcSpecs {
   display: none !important;
}




.Content .AvatarImage {
   border-radius: 50%;
   overflow: hidden;
}

.Avatar .HasClearanceLevel {
   border-radius: 50%;
   overflow: hidden;
}

#PageFooter {
   border-bottom: 10px;
}

#SubmissionCountsModule {
   display: block !important;
}

/*I have this here to get rid of the small bit of border that would appear under the h2 headers*/
.PageModule>h2:after{
  visibility: hidden;
}

 /*Top Navigation properties*/
 #PrimaryNav{
    background: #1d1d1d;
    border-bottom: 2px solid  #6CB1E1;
 }

 /*Side Navgiation properties*/
 #SecondaryNav{
    background: #1d1d1d;
    border-right: 1px solid #6CB1E1;
 }

 /*Changes subnav when you scroll down*/
 #SubNavigator{
   display: block;
   border-bottom: none;
   padding-bottom: 10px;
   text-align: center;
 }

#SubNavigator.Fixed{
background: #1a1a1a;
}

 /*These are the control buttons on your profile such as overview and settings*/
 #SubNavigator .DropdownMenuSubNavigator{
    background: #1a1a1a;
}

#SubNavigator .ActiveEntry{
   font-weight: bold;
   margin-bottom: -0.125em;
   border-bottom-width: 0.125em;
   border-bottom-style: solid;
   border-bottom-color:  #6CB1E1;
   background: #1a1a1a;
}

 /*a controls the default color of links, a:hover controls the link cover when hovered over*/
 a{
   color: #6CB1E1;
 }

 a:hover{
   color:#ffffff;
 }

  /*Controls the looks of your buttons such as add message*/
  button{
   background: #1d1d1d;
   border: 1px solid #363636;
}

/*controls the Load More button*/
.ExtendedContentButton{
   background: #1d1d1d;
   border: 1px solid #363636;
}

/*Controls the close button on your add message module*/
.Modal .CloseModal{
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.9em;
   margin: 2px;
   z-index: 1;
   font-size: 1.5em;
   cursor: pointer;
}

 /*Text Box controls for when you add a message*/
 .Editor .ViewModes .Wysiwyg .RichText{
    background: #1d1d1d;
    border-radius: 3 3 3 0;
    border: 1px solid #363636;
 }
 .Editor .WysiwygPalettes{
    background: #1d1d1d;
    border-top: 1px solid #363636;
 }

 /*The very bottom section of your page*/
 #PageFooter{
    background: #1d1d1d;
 }


 /*Visitors Module Tab appearance*/
 input:checked+.Tab {
   border: 3px solid  #6CB1E1; /*Controls border thickness & color for Active tab*/
   border-bottom: 0;
   cursor: default;
   font-weight: 700;
   margin-bottom: -3px;
   opacity: 1;
}

#VisitorsModule .Tabs{
   padding: 0.5em 0.75em;
   font-size: var(--DefaultSmallFontSize);
}

 .Tabs{
   border: none;
   border-bottom: 0;
   border-radius: 0.25em 0.25em 0 0;
   cursor: pointer;
   opacity: .5;
   padding: 0.75em 1em;
   transition: opacity .2s ease-in-out;
 }
 
 .TabsWrapper {
   border-bottom: hidden;
}

 .Tab{
   background: transparent;
   border: 1px solid #6CB1E1; 
   border-bottom: 0;
   border-radius: 0.25em 0.25em 0 0;
   cursor: pointer;
   opacity: .5;
   padding: 0.75em 1em;
   transition: opacity .2s ease-in-out;
 }